<div class="devise-form">
  <h2>Cadastrar</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, "Email" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password, "Senha" %>
      <% if @minimum_password_length %>
        <em style="font-size: 0.875rem; color: #666;">(mínimo <%= @minimum_password_length %> caracteres)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirmar Senha" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Cadastrar" %>
    </div>
  <% end %>

  <div class="devise-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
