<div class="page-header">
  <h1>Editar Categoria</h1>
  <%= link_to 'â† Voltar', categories_path, class: 'btn btn-secondary' %>
</div>

<div class="form-container">
  <%= form_with(model: @category, local: true) do |f| %>
    <% if @category.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@category.errors.count, "erro") %> impediu que esta categoria fosse salva:</h2>
        <ul>
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name, "Nome da Categoria" %>
      <%= f.text_field :name, autofocus: true, placeholder: "Ex: Celular, Tablet, Notebook..." %>
    </div>

    <div class="form-actions">
      <%= f.submit "Atualizar Categoria", class: "btn btn-primary btn-block" %>
    </div>
  <% end %>
</div>
